.dw-sensor-wrapper {
    display: flex; 
    overflow:auto;
}

.dw-sensor-wrapper p {
    color: rgb(167, 167, 167);
    align-items: center;
    text-align: center;
    font-weight:400;
    font-size: 50px;
    padding-top: 300px;
    min-width: 100rem;
    min-height: 10rem;

}

.dw-body {
    color: rgb(92, 92, 92);
    
}

.list-indent{ 
    margin-left: 20px;
}

.dw-steps {
    font-size: 1em;
    text-align: left;
    margin: 20px 20px 20px 50px;
    /* margin-left: 100px; */
    width:30em;
    
}
h4 {
    margin-top: -20px;
}

.dw-steps li{
    margin: 8px;
}

.dw-container {
    flex-wrap:wrap;
    text-align:center;
    display: flex;
    margin:0rem auto 0rem auto;
}

.dw-panelpic {
    width: 80%;
    height: 80%;
}

.dw-ss-mode {
    color: white;
    cursor: pointer;
    background: rgb(187, 187, 187);
    width: 12vw;
    padding: 1vw;
    margin:0rem auto 0rem auto;
    text-align:center;
    transition: 0.3s;
}

.dw-ss-mode:hover {
    color: white;
    cursor: pointer;
    background: rgb(102, 102, 102);

}

.dw-headers h1 {
    margin-bottom: -2.5vh;
}

.twogig-dws {
    width: 27%;
    height: 20%;
    margin-left: 90px;
}
.luna-dws {
    width: 38%;
    height: 28%;
    margin-left: -10px;
}

tbody table, td, th {
    margin: 20px;
    align-items: center;
    align-content: center;
    padding: 5px;
}
  
table {
    width: 100%;
    border-collapse: collapse;
  }


.twogig-vector {
    width: 430px;
    height: 250px;
    border: 10px solid white; 
    transition: 0.3s;
    border-radius: 20px;
    cursor: pointer;
}

.twogig-vector:hover {
    border: 10px solid rgb(0, 153, 255); 
}

.as-vector {
    width: 410px;
    height: 200px;
    border: 10px solid white; 
    transition: 0.3s;
    border-radius: 20px;
    cursor: pointer;
}

.as-vector:hover {
    border: 10px solid rgb(0, 153, 255); 
}

.subheader {
    margin-top: 20px;
}

.equipment-pic {
    width: 20vh;
    transition: 0.3s;
}
.equipment-pic-twogig {
    width: 40vh;
    transition: 0.3s;
}

.luna-btnhov{
    width: 38%;
    height: 28%;
    margin-right: 100px;
    margin-left: -20px;
    border-radius: 20px;
    border: 10px solid white;
    transition: 0.3s;
}

.twogig-btnhov{
    width: 27%;
    height: 20%;
    border-radius: 20px;
    border: 10px solid white;
    transition: 0.3s;
}

.luna-btnhov:hover {
    border: 10px solid rgb(0, 153, 255); 
}

.twogig-btnhov:hover {
    border: 10px solid rgb(0, 153, 255); 
}
