
.dw-sidebar-wrapper {
    position: relative;
    display: grid;
    align-items: center;
    list-style: none;
    width: 280px;
    padding: 9.7px;
    min-width: 15rem;
    height: 100%;
    font-weight: bold;
    font-size: small;
    color:white;
    overflow-y: scroll;
    
}

.dw-sidebar-wrapper li{
    padding: 10px;
    border-radius: 25px;
}

.dw-sidebar-wrapper h2{
    padding: 10px;
    text-decoration: underline;
}

.dw-sidebar-wrapper li:hover {
    background-color: #00B0F0;
    color: white;
    cursor: pointer;
}


::-webkit-scrollbar {
    width: 10px;
    
}

::-webkit-scrollbar-track {
    background:  #203647; 
}

::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.dw-bars {
    color: white;
} 

.dw-sidebar-container {
    height: 90%;
    margin-bottom: -10vh;
}
