.alder-door-window-wrapper {
    background-color: aqua;
}

.alder-door-window-container {
    display: flex;
    
}

.sidebar-space{
    background-color: #203647;
    height: 90vh;
    /* margin-bottom: -10vh; */
    width: 16%;
}
/* .alder-door-window-wrapper p {
    color: rgb(167, 167, 167);
    align-items: center;
    text-align: center;
    font-weight:400;
    font-size: 50px;
    padding-top: 300px;
    min-width: 100rem;
    min-height: 10rem;
}

  
.alder-door-window-body {
    color: rgb(92, 92, 92);
}

.alder-door-window-indent{ 
    margin-left: 20px;
}

.alder-door-window-steps {
    font-size: 15px;
    text-align: left;
    margin: 20px;
    width:30em;
}

.alder-door-window-steps li{
    margin: 8px;
}


.alder-door-window-panelpic {
    width: 80%;
    height: 80%;
}


.alder-door-window-headers h1 {
    margin-bottom: -2.5vh;
}
*/