.alder-simple-wrapper {
  display: flex;
}

.twogig-wrapper {
  display: flex;
}


.panel {
  display: flex;
  overflow: auto;
}
.panel-container {
  align-items: center;
  margin: auto;
  margin-top: 1vh;
  color: rgb(85, 85, 85);
}
.panel-wrapper {
  display: flex;
  align-items: center;
  margin: auto;
}

.panel-steps-divider {
  border-left: thin solid;
  height: 50vh;
  margin-left: 20px;
}

.list-indent {
  margin-left: 20px;
}

.panel-steps {
  font-size: 1em;
  text-align: left;
  margin: 20px 20px 20px 50px;
  width: 30em;
}

.panel-steps li {
  margin: 8px;
}

.panel-head {
  margin-top: -20vh;
}

.alder-simple-wrapper p {
  color: rgb(167, 167, 167);
  align-items: center;
  text-align: center;
  font-weight:400;
  font-size: 50px;
  padding-top: 300px;
  min-width: 100rem;
  min-height: 10rem;
}

