.sensor-container {
  /* align-items: center; */
  /* margin: auto; */
  margin-top: 1vh;
  color: rgb(85, 85, 85);

  flex-wrap: wrap;
  text-align: center;
  margin: 0rem auto 0rem auto;
}
.sensor-wrapper {
  display: flex;
  align-items: center;
  margin: auto;
}

.sensor-steps-divider {
  border-left: thin solid;
  height: 400px;
  margin-left: 20px;
  margin-right: -30px;
}

.list-indent {
  margin-left: 20px;
}

.sensor-steps {
  font-size: 1em;
  text-align: left;
  margin: 20px 20px 20px 50px;
  width: 30em;
}

.sensor-steps li {
  margin: 8px;
  margin-left: 20px;
}

.dw-steps {
  font-size: 1em;
  text-align: left;
  margin: 20px 20px 20px 50px;
  width: 30em;
}

h4 {
  margin-bottom: -40px;
}

.dw-steps li {
  margin: 8px;
}

/* go through the rest */

.parent-sensor-container {
  display: flex;
  overflow: auto;
}

.sensor-body-container {
  flex-wrap: wrap;
  text-align: center;
  margin: 0rem auto 0rem auto;
}

.twogig-dws {
  width: 180px;
}
.luna-dws {
  width: 130px;
}

tbody table,
td,
th {
  margin: 20px;
  align-items: center;
  align-content: center;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.sensor-steps {
  font-size: 1em;
  text-align: left;
  margin: 20px 20px 20px 50px;
  width: 30em;
  height: 60vh;
  overflow: scroll;
}

.sensor-steps::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: rgb(228, 228, 228); 
}
.sensor-steps::-webkit-scrollbar-track {
  background:  #ffffff; 
}
