.navbar {
    background-color: #12232E ;
    display: flex;
    align-items: center;
    /* width: 100vw; */
    height: 10vh;
}

.nav-bars {
    color: white;
    text-decoration: none;
    padding: 3rem;
    transition: 0.3s; 
    list-style: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.nav-bars:hover {
    font-size: large;
    color: #00B0F0;
}

.alderlogo {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250spx;
}

.nav-logo{
    margin-right: 18vw;
    margin-left: 2vw
}

